{% extends "layout.html" %}
{% block head %}
<title>{{ gettext('tmpl.app.title.abbr') }} - {{ gettext('tmpl.app.title.full') }}</title>
<meta name="description" content="{{ gettext('tmpl.app.title.description') }}" />
<script src="{{url_for('static', filename='js/formChecker.js')}}"></script>
{% endblock %}
{% block body %}

<div class="container container-fluid mt-4 mb-4 justify-content-center">
    <p>{{ gettext('tmpl.index.overview.1') }}</p>
    <p>{{ gettext('tmpl.index.overview.2') }}</p>
    <div class="accordion" id="comparisonAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#comparisonNormal" aria-expanded="false" aria-controls="comparisonNormal">
                    {{ gettext('tmpl.index.screenshots.title.normal') }}
                </button>
            </h2>
            <div id="comparisonNormal" class="accordion-collapse collapse" data-bs-parent="#comparisonAccordion">
                <div class="accordion-body">
                    <picture>
                        <source srcset="{{url_for('static', filename='imgs/comparison-01.jxl')}}"
                                type="image/jxl" />
                        <img src="{{url_for('static', filename='imgs/comparison-01.png')}}"
                             class="img-fluid col-lg-8"
                             alt="{{ gettext('tmpl.index.screenshots.1.alt_text') }}"
                        />
                    </picture>
                    <picture>
                        <source srcset="{{url_for('static', filename='imgs/comparison-02.jxl')}}"
                                type="image/jxl" />
                        <img src="{{url_for('static', filename='imgs/comparison-02.png')}}"
                             class="img-fluid col-lg-8"
                             alt="{{ gettext('tmpl.index.screenshots.2.alt_text') }}"
                        />
                    </picture>
                </div>
            </div>
        </div>
        <noscript>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#comparisonNoscript" aria-expanded="true" aria-controls="comparisonNoscript">
                        {{ gettext('tmpl.index.screenshots.title.noscript') }}
                    </button>
                </h2>
                <div id="comparisonNoscript" class="accordion-collapse collapse show" data-bs-parent="#comparisonAccordion">
                    <div class="accordion-body">
                        <picture>
                            <source srcset="{{url_for('static', filename='imgs/comparison-01.jxl')}}"
                                    type="image/jxl" />
                            <img src="{{url_for('static', filename='imgs/comparison-01.png')}}"
                                 class="img-fluid col-lg-8"
                                 alt="{{ gettext('tmpl.index.screenshots.1.alt_text') }}"
                            />
                        </picture>
                        <picture>
                            <source srcset="{{url_for('static', filename='imgs/comparison-02.jxl')}}"
                                    type="image/jxl" />
                            <img src="{{url_for('static', filename='imgs/comparison-02.png')}}"
                                 class="img-fluid col-lg-8"
                                 alt="{{ gettext('tmpl.index.screenshots.2.alt_text') }}"
                            />
                        </picture>
                    </div>
                </div>
            </div>
        </noscript>
    </div>
    <br/>
    <p>{{ gettext('tmpl.index.overview.3') }}</p>
    <noscript>
        <div class="card text-bg-danger mb-3">
            <div class="card-header">{{ gettext('tmpl.index.noscript.title') }}</div>
            <div class="card-body">
                <p class="card-text">{{ gettext('tmpl.index.noscript.body') }}</p>
            </div>
        </div>
    </noscript>
    <form class="card" id="filterForm">
        <div class="card-body row g-3">
            <h4>{{ gettext('tmpl.index.form.title') }}</h4>
            <br/>
            <div class="md-3">
                <label for="channel_name" class="form-label">{{ gettext('tmpl.index.form.channel_name.title') }}</label>
                <input type="text" name="ChannelName" class="form-control" id="channel_name" minlength="1"
                       placeholder="{{ gettext('tmpl.index.form.channel_name.placeholder') }}" required>
                <div id="ChannelNameHelp" class="form-text">{{ gettext('tmpl.index.form.channel_name.helper') }}</div>
            </div>
            <br/>
            <button type="button" class="btn btn-primary" id="formSubmit">
                {{ gettext('tmpl.index.form.submit') }}
            </button>
        </div>
    </form>
    <div class="modal fade modal-lg" id="filterURLModal" aria-hidden="true" aria-labelledby="filterURLModalLabel"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterURLModalLabel">{{ gettext('tmpl.index.form.dialog.title') }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ gettext('tmpl.index.form.dialog.close') }}"></button>
                </div>
                <div class="modal-body">
                    <p>{{ gettext('tmpl.index.form.dialog.overview') }}</p>
                    <div class="accordion" id="listAddGuide">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="listAddGuide-Easy-Label">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#listAddGuide-Easy-Body" aria-expanded="true" aria-controls="listAddGuide-Easy-Body">
                                    {{ gettext('tmpl.index.form.dialog.ublock.title') }}
                                </button>
                            </h2>
                            <div id="listAddGuide-Easy-Body" class="accordion-collapse collapse show" aria-labelledby="listAddGuide-Easy-Label" data-bs-parent="#listAddGuide">
                                <div class="accordion-body">
                                    <ol>
                                        <li>
                                            <div>
                                                {{ gettext('tmpl.index.form.dialog.ublock.instruction.1') }}
                                            </div>
                                            <code id="filterURLEasyAdd"></code>
                                        </li>
                                        <li>
                                            <div>
                                                {{ gettext('tmpl.index.form.dialog.ublock.instruction.2') }}
                                            </div>
                                            <picture>
                                                <source srcset="{{url_for('static', filename='imgs/filter-instructions-02.jxl')}}"
                                                        type="image/jxl" />
                                                <img src="{{url_for('static', filename='imgs/filter-instructions-02.png')}}"
                                                     class="img-fluid col-lg-6"
                                                        {# col-6 to normalize screenshot font size - small HDPI images
                                                         look weird on HDPI+ displays without this #}
                                                     alt="{{ gettext('tmpl.index.form.dialog.ublock.instruction.2.alt_text') }}"
                                                >
                                            </picture>
                                        </li>
                                        <li>
                                            <div>
                                                {{ gettext('tmpl.index.form.dialog.ublock.instruction.3') }}
                                            </div>
                                            <picture>
                                                <source srcset="{{url_for('static', filename='imgs/filter-instructions-03.jxl')}}"
                                                        type="image/jxl" />
                                                <img src="{{url_for('static', filename='imgs/filter-instructions-03.png')}}"
                                                     class="img-fluid col-lg-4"
                                                        {# col-4 to normalize screenshot font size - small HDPI images
                                                         look weird on HDPI+ displays without this #}
                                                     alt="{{ gettext('tmpl.index.form.dialog.ublock.instruction.3.alt_text') }}"
                                                >
                                            </picture>
                                        </li>
                                        <li>
                                            <div>
                                                {{ gettext('tmpl.index.form.dialog.ublock.instruction.4') }}
                                            </div>
                                            <pictue>
                                                <source srcset="{{url_for('static', filename='imgs/filter-instructions-04.jxl')}}"
                                                        type="image/jxl" />
                                                <img src="{{url_for('static', filename='imgs/filter-instructions-04.png')}}"
                                                     class="img-fluid"
                                                     alt="{{ gettext('tmpl.index.form.dialog.ublock.instruction.4.alt_text') }}"
                                                >
                                            </pictue>
                                        </li>
                                        <li>
                                            <div>
                                                {{ gettext('tmpl.index.form.dialog.ublock.instruction.5') }}
                                            </div>
                                            <picture>
                                                <source srcset="{{url_for('static', filename='imgs/filter-instructions-05.jxl')}}"
                                                        type="image/jxl" />
                                                <img src="{{url_for('static', filename='imgs/filter-instructions-05.png')}}"
                                                     class="img-fluid"
                                                     alt="{{ gettext('tmpl.index.form.dialog.ublock.instruction.5.alt_text') }}"
                                                >
                                            </picture>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="listAddGuide-Manual-Label">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#listAddGuide-Manual-Body" aria-expanded="false" aria-controls="listAddGuide-Manual-Body">
                                    {{ gettext('tmpl.index.form.dialog.manual.title') }}
                                </button>
                            </h2>
                            <div id="listAddGuide-Manual-Body" class="accordion-collapse collapse" aria-labelledby="listAddGuide-Manual-Label" data-bs-parent="#listAddGuide">
                                <div class="accordion-body">
                                    <p>{{ gettext('tmpl.index.form.dialog.manual.instruction.1') }}</p>
                                    <code id="filterURLAdvanced"></code>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ gettext('tmpl.index.form.dialog.close') }}</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div>
        <p>
            {{ gettext('tmpl.index.overview.10') }}
            <a href="https://compact-youtube.apps.lucadou.sh/">{{ gettext('tmpl.index.overview.11') }}</a>.
        </p>
    </div>
</div>
<br />
{% endblock %}
