<!--
This file is part of Twitch Recommended Channel Hider (TRCH),
a filter list generator for uBlock.
Copyright (C) 2024 Luna Lucadou

TRCH is free software: you can redistribute it and/or modify it
under the terms of the GNU General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

TRCH is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.
See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with TRCH.
If not, see <https://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html>
<head>
    <!-- Info tags -->
    {% block head %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <!-- Remote assets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.2/dist/darkly/bootstrap.css" integrity="sha256-E61wU0yEZaeuTRFpWGO9Byoo22XtujocxiWgde25gCU=" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.js" integrity="sha512-NQVmLzNy4Lr5QTrmXvq/WzTMUnRHmv7nyIT/M6LyGPBS+TIeRxZ+YQaqWxjpRpvRMQSuYPQURZz/+pLi81xXeA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Theming/icons -->
    <script src="{{url_for('static', filename='js/formChecker.js')}}"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='site.webmanifest')}}">
    <link rel="mask-icon" href="{{url_for('static', filename='safari-pinned-tab.svg')}}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#375a7f">
</head>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% if error %}
<p class="error">
    <strong>{{ gettext('generic.word.error') }}</strong>
    {{ error }}
</p>
{% endif %}
<nav class="navbar navbar-dark bg-primary">
    <div class="container container-fluid">
        <h4>
            {{ gettext('tmpl.index.title.navbar') }}
        </h4>
    </div>
</nav>
{% block body %}{% endblock %}
<div class="justify-content-center text-center">
    <p>
        {{ gettext('generic.copyright') }}
        <a href="{{ gettext('generic.author.url') }}">{{ gettext('generic.author.name') }}</a>
        {{ gettext('generic.sym.separator') }}
        <a href="{{ gettext('generic.app.home') }}">{{ gettext('tmpl.app.footer.code.title') }}</a>
        {{ gettext('generic.sym.separator') }}
        {{ gettext('tmpl.app.footer.version.title') }}:
        {{ gettext('generic.app.version') }}
    </p>
</div>
</body>
</html>
